<div class="p-4  bg-black w-[100vw]  text-white ">
    <div class="w-[80vw] mx-auto flex justify-between items-center">
      <p class="text-xl font-semibold cursor-pointer"><span class="text-blue-500">Nikhil</span>-TechSolution</p>
      <ul class="invisible sm:visible flex">
        <li class="text-xl mx-4 py-1 cursor-pointer"> <a href="/"> Home </a></li>
        <li class="text-xl mx-4 py-1 cursor-pointer">Service</li>
        <li class="text-xl mx-4 py-1 cursor-pointer"> <a href="/weather"> Weather </a></li>
        <li class="text-xl mx-4 py-1 cursor-pointer"> <a href="/about"> About</a></li>
      </ul>
    </div>
  </div>